### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
devel
build
.vscode
src/csv/
src/csv2rosbag/msg/
src/csv2rosbag/proto/
src/csv2rosbag/raw_rosbag/
src/rosbag/
src/csv2rosbag/trans_proto/