### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
devel
build
.vscode
src/csv/
src/csv2rosbag/msg/
src/rosbag/trans_proto/
2023-04-21-19-14-25.bag
src/csv2rosbag/raw_rosbag/zadao_down_output.bag